* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #000000;
    max-height: 200px;
}

.nav-container-media {
    display: none;
}

.header-container {
    max-width: 1161px;

    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo {
    color: var(--black, #ffffff);
    width: 9%;
    font-family: Russo One;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 78.188%; /* 32.839px */
    min-width: 200px;
    
}

.logo-text {
    color: var(--black, #ffffff);
    width: 20px;
    font-family: Anonymous pro;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 78.188%; /* 32.839px */
}

.logo-container {
    width: 100px;
}

.nubskins {
    color: #ffffff;
    font-family: 'Anonymous Pro', monospace;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 35px;
    
}



.nav-item {
    color: #ffffff;
    font-family: 'Anonymous Pro', monospace;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer {
    background: var(--black, #000000);
    display: flex;
    justify-content: center;
    
}

.logo-container-media {
    display: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main {
    display: flex;
    justify-content: center;
}

.mice {
    color: var(--black, #ffffff);
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.keyboards {
    color: var(--black, #ffffff);
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.headphones {
    color: var(--black, #ffffff);
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}


.raw {
    display: flex;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    flex-wrap: wrap;
    gap: 15px;
}

.cost {
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: Anonymous Pro;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.card {
    display: flex;
    justify-content: flex-start;
    width: 1100px;
    border-radius: 12px;
    background: linear-gradient(156deg, #2e2e2e 0%,#000000 100%);
}

.image-container {
    display: flex;
    justify-content: flex-start;
    border: 5px;
    min-width:350px;
    min-height:600px;
    border-radius: 12px;
    border: 2px solid black;;
    background: linear-gradient(156deg, #0c1a3b 0%,#2d1131 100%);
}

.content {
    display: flex;
    
}

.title {
    color: #ffffff;
    margin-left: 20px;
    font-family: Anonymous Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.text {
    color: #d8d8d8;
    margin-left: 10px;
    font-family: Anonymous Pro;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 186.667% */
}

.text2 {
    color: #8d8d8d;
    margin-left: 10px;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 186.667% */
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-15 {
    background: #aa00cc;
    border: none;
    z-index: 1;
  }
  .btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #672ab8;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-15:hover {
    color: #fff;
  }
  .btn-15:hover:after {
    left: 0;
    width: 100%;
  }
  .btn-15:active {
    top: 2px;
  }

.text:last-child {
    margin-top: 19px;
}

.description {
    color: #cecece;
    padding-top: 10px;
    max-width: 700px;
    margin-left: 10px;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    
}

.footer-container {
    display: flex;
    max-width: 1161px;
    width: 100%;
    padding: 30px 0;
    flex-direction: column;
}

.first-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    color: var(--white, #ffffff);
    font-family: Anonymous Pro;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 78.188%; /* 24.238px */
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.socila-media-item {
    color: var(--white, #ffffff);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.line {
    margin-top: 30px;
    margin-bottom: 18px;
    background: rgba(230, 232, 236, 0.40);
}

.copiright {
    color: var(--text_gray, #A1A6B4);
    font-family: Anonymous Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
}




body {
    background: linear-gradient(#000000 25%, rgb(39, 19, 51) 50%, #000000 75%);
}

@media (max-width: 768px) {
    .header {
        display: flex;
        
    }

    .logo-container {
        display: none;
    }

    .logo-container-media {
        display: flex;
        width: 100px;

    }
    
    .header-container {
        width: 650px;
        justify-content: center;
    }

    .nav-container {
        display: none;
        width: 300px;
    }

    .nav-container-media {
        display: flex;
        align-items: center;
    }

    .nav-item {
        font-size: 20px;
    }

    .card {
        display: flex;
    justify-content: flex-start;
    width: 1100px;
    border-radius: 12px;
    background: linear-gradient(156deg, #2e2e2e 0%,#000000 100%);
    }

    .image-container {
        display: flex;
        justify-content: center;
        padding-right: 15px;
        min-width: 150px;
        min-height: 150px;
    }

    .raw {
        display: flex;
    max-width: 1161px;
    
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    }

    .footer {
        display: flex;
        align-items: center;

    }

    .navigation {
        display: none;
    }

    .burger-navigation {
        display: block;
    }

    .description {
        color: #cecece;
        max-width: 300px;
        margin-left: 10px;
        font-family: Anonymous Pro;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
        
    }

    .text {
        max-width: 300px;
    }
}

@media (max-width: 425px) {
    .header {
        display: flex;
        
    }

    .logo-container {
        display: none;
    }

    .logo-container-media {
        display: flex;
        width: 100px;

    }
    
    .header-container {
        width: 650px;
        justify-content: center;
    }

    .nav-container {
        display: none;
        width: 300px;
    }

    .nav-container-media {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .nav-item {
        font-size: 20px;
    }

    .card {
        display: flex;
    justify-content: flex-start;
    width: 1100px;
    border-radius: 12px;
    background: linear-gradient(156deg, #2e2e2e 0%,#000000 100%);
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .image-container {
        display: flex;
        justify-content: center;
        min-width: 150px;
        max-height: 200px;
    }

    .raw {
        display: flex;
    max-width: 1161px;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    }

    .footer {
        display: flex;
        align-items: center;

    }

    .navigation {
        display: none;
    }

    .burger-navigation {
        display: block;
    }

    .description {
        color: #cecece;
        max-width: 300px;
        margin-left: 10px;
        font-family: Anonymous Pro;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 160% */
        
    }

    .text {
        max-width: 300px;
    }
}

