* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: center;
    background-color: #000000;
    max-height: 200px;
}

.header-container {
    width: 1161px;
    padding: 30px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.logo {
    color: var(--black, #ffffff);
    width: 9%;
    font-family: Russo One;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    line-height: 78.188%; /* 32.839px */
    min-width: 200px;
    
}

.logo-container {
    width: 100px;
}

.nubskins {
    color: #d8d8d8;
    font-family: Anonymous Pro;
    margin-right: 320px;
    margin-left: 10px;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 35px;
}



.nav-item {
    color: #ffffff;
    font-family: 'Anonymous Pro', monospace;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer {
    background: var(--black, #000000);
    display: flex;
    justify-content: center;
    
}


img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.mice {
    color: var(--black, #ffffff);
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.keyboards {
    color: var(--black, #ffffff);
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}

.headphones {
    color: var(--black, #ffffff);
    font-family: 'Anonymous Pro', monospace;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}


.raw {
    display: flex;
    max-width: 1161px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgb(17, 17, 17);
    
}

.image-container {
    border: 5px;
    width: 348px;
    height: 348px;
    border-radius: 12px 12px 2px 2px;
    border: 2px solid black;;
    background: linear-gradient(156deg, #0c1a3b 0%,#2d1131 100%);
}

.content {
    display: flex;
    flex-direction: column;
    
}

.title {
    color: #ffffff;
    margin-left: 20px;
    font-family: Anonymous Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.text {
    color: #d8d8d8;
    width: 340px;
    margin-left: 10px;
    font-family: Anonymous Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 186.667% */
}

.text:last-child {
    margin-top: 19px;
}

.description {
    color: #757575;
    max-width: 300px;
    margin-left: 10px;
    font-family: Anonymous Pro;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
}

.footer-container {
    display: flex;
    max-width: 1161px;
    width: 100%;
    padding: 30px 0;
    flex-direction: column;
}

.first-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-logo {
    color: var(--white, #ffffff);
    font-family: Anonymous Pro;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 78.188%; /* 24.238px */
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}

.socila-media-item {
    color: var(--white, #ffffff);
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.line {
    margin-top: 30px;
    margin-bottom: 18px;
    background: rgba(230, 232, 236, 0.40);
}

.copiright {
    color: var(--text_gray, #A1A6B4);
    font-family: Anonymous Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0 auto;
}


body {
    background: linear-gradient(#000000 5%, rgb(39, 19, 51) 50%, #000000 95%);
}

@media (max-width: 650px) {
    .header {
        display: flex;
    }

    .logo-container {
        display: flex;
    }
    
    .header-container {
        width: 650px;
        padding: 15px;
    }

    .nav-container {
        display: flex;
        width: 300px;
    }

    .card {
        display: flex;
        justify-content: center;
        width: 330px;
    }

    .image-container {
        display: flex;
        justify-content: center;
        width: 330px;
        height: 330px;
    }

    .raw {
        justify-content: center;
    }

    .footer {
        display: flex;
        align-items: center;

    }

    .navigation {
        display: none;
    }

    .burger-navigation {
        display: block;
    }
}